.main-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
}

.main-section {
    background-color: aliceblue;
    padding: 50px;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    width: 45px;
    height: 45px;
    padding-right: 10px;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.sidebar {
    background-color: white;
    padding: 20px;
}

@media only screen and (max-width: 767px) {

    .main-section {
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-layout {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}