.my-info img {
    width: 60px;
}

.my-info {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

.my-name {
    margin-left: 10px;
}

.my-name p {
    margin: 0px;
    padding: 0px;
}

.personal-info {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 0px;
}

.physical-info {
    padding: 0px 15px;
}

.physical-info p,
h3 {
    margin: 0px;
    padding: 0px;
}

.break-buttons {
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-radius: 10px;
}

.break-button {
    height: 45px;
    width: 45px;
    margin: 3px;
    border-radius: 50%;
    border: 0px;
    background-color: white;
    font-weight: 600;
}

.break-button:hover {
    background-color: dodgerblue;
    color: white;
}

.ex-time {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: rgb(243, 243, 243);
    padding: 5px 15px;
    border-radius: 10px;
}

.ex-time p {
    margin-left: 5px;
    margin-right: 5px;
}

.break-time {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: rgb(243, 243, 243);
    padding: 5px 15px;
    border-radius: 10px;
}

.activityDone {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.activityDoneBtn {
    width: 100%;
    background-color: dodgerblue;
    padding: 5px 15px;
    border-radius: 10px;
    border: 0px;
    color: white;
}