.blogs {
    background-color: azure;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.head {
    text-align: center;
    color: royalblue;
    font-size: 30px;
    margin-top: 25px;
}

@media only screen and (max-width: 767px) {
    .blogs {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        gap: 5px;
    }


}